{% extends "base_two_columns.html" %}
{% load crispy_forms_tags %}

{% block title %}Projects that {{ object.name }} works on{% endblock %}

{% block content %}
<div class="span12">
  <h3>{{ object.name }}</h3>
  {% if object.contact_email %}
    {{ object.contact_email }}<br />
  {% endif %}
  {% if object.contact_phone %}
    {{ object.contact_phone }}<br />
  {% endif %}
  <h4>{{ object.name }}'s affiliations</h4>
  {% if units %}
    {{ object.name }} works on projects for the following Harvard group(s):
    <ul>
      {% for unit in units %}
        <li><a href="{% url 'units:detail_view' unit.id %}">{{ unit.name }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
  {% if schools %}
    {{ object.name }} works on projects within the following Harvard school(s):
    <ul>
      {% for school in schools %}
        <li><a href="{% url 'units:school_view' school.id %}">{{ school.name }}</a></li>
      {% endfor %}
    </ul>
  {% endif %}
  <h4>{{ object.name }}'s projects</h4>
  <div class="clearfix">
    {% with object.projects.all as projects %}
      {% include "facet_project_list.html" %}
    {% endwith %}
  </div>
  {% if edit_url %}
    <hr>
    <a href="{{ edit_url }}" class="btn">Edit {{ object.name }}</a>
  {% endif %}
</div>
{% endblock %}