{% extends "base_two_columns.html" %}

{% block content %}
  <div class="row-fluid">
    <div class="span12 red_bar well">
      <h3>{{ object.display_name }}</h3>
      <p>Project full name: {{ object.name }}</p>
      <p class="lead">{{ object.short_description }}</p>
      {% if object.description %}
          <blockquote>{{ object.description | linebreaksbr }}</blockquote>
      {% endif %}
      <div class="row-fluid">
        <div class="span6">
          {% if object.url %}
            <p>
              <strong>URL:</strong> 
              <a href="{{ object.url }}">{{ object.url }}</a>
            </p>
          {% endif %}
          {% if object.contact_email %}
            <p>
              <strong>Email:</strong> {{ object.contact_email }}
            </p>
          {% endif %}
          {% if object.contact_phone %}
            <p>
              <strong>Phone:</strong> {{ object.contact_phone }}
            </p>
          {% endif %}
        </div>
        <div class="span6">
          {% if object.start_date or object.end_date %}
            <p>
              {% if object.start_date %}
                <strong>Start:</strong> {{ object.start_date }}
              {% endif %}
               &mdash;
              {% if object.end_date %}
                <strong>End:</strong> {{ object.end_date }}
              {% endif %}
            </p>
          {% endif %}
          {% if object.status %}
              <p>
                <strong>Status:</strong>
                {{ object.status }}
              </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span6 red_bar well">
      <h3>People</h3>
      {% if object.units.all %}
          <h4>Groups</h4>
          {% for unit in object.units.all %}
              <a href="{% url 'units:detail_view' unit.id%}">
                {{ unit }}</a><br />
          {% endfor %}
      {% endif %}
      {% if object.contributors.all %}
          <h4>Contributors</h4>
          {% for contributor in object.contributors.all %}
              <a href="{% url 'units:contributor_view' contributor.id %}">
                {{ contributor }}</a><br />
          {% endfor %}
      {% endif %}
    </div>
    <div class="span6 red_bar well">
      <h3>Elements</h3>
      {% if object.projects_interoperated_with.all %}
          <h4>Projects interoperated with</h4>
          {% for project in object.projects_interoperated_with.all %}
              <a href="{% url 'projects:detail_view' project.id %}">
                {{ project }}</a><br />
          {% endfor %}
      {% endif %}
      {% if object.elements.all %}
          <h4>Building blocks</h4>
          {% for element in object.elements.all %}
              <a href="{% url 'elements:detail_view' element.id %}">
                {{ element }}</a><br />
          {% endfor %}
      {% endif %}
    </div>
  </div>
    
    <hr>
    {% if user.is_authenticated %}
        <a href="{% url 'projects:edit_view' object.id %}" class="btn">
        Edit this project</a>
    {% endif %}
{% endblock %}