{% url 'home' as home %}
{% url 'about' as about %}

<ul class="sidebar nav nav-tabs nav-stacked {% if not show_sidebar_url %}filterable{% endif %}">
    <li {% if request.path == home %} class="active"{% endif %}>
        <a href="{% url 'home' %}">Home</a></li>
    <li {% if request.path == about %} class="active"{% endif %}>
        <a href="{% url 'about' %}">About</a></li>
    <li><a href="https://wiki.harvard.edu/confluence/display/HLSLibraryInteroperability/Home">Wiki</a></li>
    <li class="nav-header" data-toggle="collapse" data-target="#typelist">
        <i class="icon-chevron-up"></i><i class="icon-chevron-down"></i>
        {% if show_sidebar_url %}
        Projects by type...
        {% else %}
        Show only...
        {% endif %}
    </li>
    <ul id="typelist" class="nav nav-tabs nav-stacked facetlist">
        {% for project_type in project_types %}
            {% with project_type.name as name %}{% with project_type.id as id %}
                <li id="id_type_{{ id }}"><a href="{% if show_sidebar_url %}
                {% url 'project_types:detail_view' project_type.id %}
                {% else %}#{% endif %}">{{ name }}</a></li>
            {% endwith %}{% endwith %}
        {% endfor %}
    </ul>
    <li class="nav-header collapsed" data-toggle="collapse" data-target="#elementlist">
        <i class="icon-chevron-up"></i><i class="icon-chevron-down"></i>
        {% if show_sidebar_url %}
        Projects by component...
        {% else %}
        Filter by component...
        {% endif %}
    </li>
    <ul id="elementlist" class="nav nav-tabs nav-stacked facetlist collapse">
        {% for element in elements %}
            {% with element.name as name %}{% with element.id as id %}
                <li id="id_element_{{ id }}"><a href="{% if show_sidebar_url %}
                {% url 'elements:detail_view' element.id %}
                {% else %}#{% endif %}">{{ name }}</a></li>
            {% endwith %}{% endwith %}
        {% endfor %}
    </ul>
    <li class="nav-header collapsed" data-toggle="collapse" data-target="#unitlist">
        <i class="icon-chevron-up"></i><i class="icon-chevron-down"></i>
        {% if show_sidebar_url %}
        Projects by group...
        {% else %}
        Filter by group...
        {% endif %}
    </li>
    <ul id="unitlist" class="nav nav-tabs nav-stacked facetlist collapse">
        {% for unit in units %}
            {% with unit.name as name %}{% with unit.id as id %}
                <li id="id_unit_{{ id }}"><a href="{% if show_sidebar_url %}
                {% url 'units:detail_view' unit.id %}
                {% else %}#{% endif %}">{{ name }}</a></li>
            {% endwith %}{% endwith %}
        {% endfor %}
    </ul>
    {% if user.is_authenticated %}
    <li><a href="{% url 'projects:create_view' %}">Add new project</a></li>
    <li><a href="{% url 'logout' %}">Log out</a></li>
    {% else %}
    <li><a href="{% url 'registration_register' %}">Get an account</a></li>
    <li><a href="{% url 'login' %}">Log in</a></li>
    {% endif %}
</ul>