<!-- see http://www.gse.harvard.edu/guide/palette/ -->
/* 
  Generic sitewide stuff
*/
body {
    font-family: "PT Sans", "Helvetica Neue", sans-serif;
    position: relative;
    font-size: 14px;
}

h1, h2 {
    font-family: "Sorts Mill Goudy", "Georgia", "Times New Roman", serif;
    letter-spacing: .05em;
    font-weight:normal;
}

a:link, a:active, a:visited {
    color: #4E84C4;
}

a:hover {
    color: #293352;
}


/*
  Header
*/
.header {
    height: 100px;
    margin-bottom: 20px;
    background: #A51C30;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #BAC5C6;
    border-left: 1px solid #A51C30;
}

.header h1, interoptitle {
    margin-right: -10px;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 20px;
    color: #F3F3F1;
    font-weight: bold;
}
.header h2 {
    color: #C4961A;
    margin-right: -20px;
    padding-top: 0.25em;
    padding-bottom: 0.25em;
    padding-left: 20px;
    font-style: italic;
}
#interoptitle{
	color: #F1FFB8;
}

/*
  Sidebar
*/
ul.sidebar.nav > li.active a {
    font-weight: bold;
}

ul.sidebar.nav.filterable .facetlist li.active a {
    background: #eee;
}

.sidebar.nav li.nav-header {
    margin: 0;
    border-color: rgb(221, 221, 221);
    border-style: solid;
    border-width: 0 1px;
    padding-top: 8px;
    padding-bottom: 8px;
    cursor: pointer;
}

.sidebar.nav li.nav-header i {
    float: left;
    margin-top: 5px;
    margin-right: 5px;
}

.sidebar.nav li.nav-header .icon-chevron-down {
    display: none;
    float: left;
}

.sidebar.nav li.nav-header .icon-chevron-up {
    display: inherit;
}

.sidebar.nav li.nav-header.collapsed .icon-chevron-down {
    display: inherit;
}

.sidebar.nav li.nav-header.collapsed .icon-chevron-up {
    display: none;
}

.sidebar.nav-tabs.nav-stacked .nav-tabs.nav-stacked {
    margin-bottom: 0;
    width: 100%;
}

.sidebar.nav-tabs.nav-stacked .nav-tabs.nav-stacked a {
    border-radius: 0;
}

/*
  Footer
*/
.footer {
    margin-top: 40px;
    padding: 20px 0;
    background: #F3F3F1;
    border-top-style: solid;
    border-top-width: 1px;
    border-top-color: #BAC5C6;
}

.footer p {
    margin: 0;
}

/*
  Project tiles
*/
.tile {
    margin-left: 0 !important;
    margin-right: 1.418439716312% !important;
    -moz-border-radius: 10px;
	border-radius: 10px;
    border: 2px solid #BE6441;
    box-shadow: 5px 5px 5px #888888;
}

.tile.span6 {
    margin-right: 1.06389971723405% !important;
}

.tile.filtered {
    display: none;
    padding: 0 !important;
    margin: 0 !important;
}

.well {
    background-color: white;
}

h4.bar {
    font-size: 14px;
    text-align: center;
    border-style: solid;
    border-width: 1px 0;
    border-color: rgb(221,221,221);
    margin: 9px -9px;
    padding: 7px;
}

.red_bar, .red_bar_small {
    border-top: solid 10px #A51C30;
}

.red_bar h3 {
    background-color: #F3F3F1;
    margin-top: -19px;
    margin-right: -19px;
    margin-left: -19px;
    padding-left: 19px;
    padding-top:10px;
    padding-bottom:10px;
}

.red_bar_small h3 {
    background-color: #F3F3F1;
    margin-top: -9px;
    margin-right: -9px;
    margin-left: -9px;
    padding-left: 9px;
    padding-top:5px;
    padding-bottom:5px;
}

h4.bar.last {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
 
/*
  Messages
*/

.alert-block.alert-error,.alert-info.error {
    color:white;
    background-color: #A51C30;
    text-shadow: none;
    border-color: #A51C30;
}

.alert-info.success {
    background-color: #DDF1BE;
    border-color: #52854C;
    color:#52854C;
    text-shadow: none;
}

/*
  Form styling
*/
.help-block {
    border-left: solid 3px rgb(204,204,204);
    padding-left: 5px;
    margin-bottom: 10px;
    margin-top: -5px;
}

form label {
    font-size: 115%;
    margin-top: 1.5em;
}

form legend {
    margin-bottom: 0;
}


/*
  Misc
*/
.miscellaneous {
    margin-bottom: 20px;
}

.random {
    text-align: center;
}

.random a.btn {
    color: rgb(165, 28, 48);
}
