{% extends "base_two_columns.html" %}

{% block content %}
<div class="span9">
    <h3>About</h3>
    
    <h4>Why interop?</h4>
    <p>
        Interoperability is an amplifier of value.
    </p>

    <p>
        By enabling more applications to use existing digital resources, the
        community gains more value from those resources.
    </p>

    <p>
        For example, a poem in an online Emily Dickinson collection can be 
        used to make a point in a collection of 19th century scientific papers, 
        and then annotations within both collections can help make sense of an 
        application exploring the intersection of literature and science.
    </p>

    <p>
        Interoperability enables a library's works to flourish.
    </p>
    
    <h4>What is interop?</h4>
    <p>
        Interoperability is a property of a system. That system is embedded in 
        (and helps enable) a community that supports it.
    </p>

    <p>
        In an interoperable library system library content, data, metadata, and 
        services can be easily used and re-used by multiple software 
        applications. Each use can then be re-used by other applications, 
        creating a virtuous circle.
    </p>
    
    <p>
        This is achieved by community support of open standards in a distributed 
        system.
    </p>

    <p>
        Interoperability is always a matter of degree. It is never perfect and 
        has no end point. Indeed, the Harvard Library system is already highly 
        interoperable.
    </p>
    
    <h4>Paths forward</h4>
    <p>
        The Library Interoperability Initiative plans on moving down several 
        paths simultaneously, always with the engagement and support of the 
        Harvard Library community, and beyond:
    </p>

    <ul>
        <li>
            Self-knowledge: Improve the community's awareness of its efforts, 
            so we can better learn from one another.
        </li>
        <li>
            Lower the hurdles: Make it easier for more of what the Library 
            knows to be used, reused, found, and enhanced. Do this quickly
        </li>
        <li>
            Community research: Support the community's efforts to develop more 
            comprehensive projects and standards over the longer term
        </li>
    </ul>
    
    <p>
        Action items for the first year:
    </p>

    <ul>
        <li>
            Community: Increase self-knowledge, and create a working group
        </li>
        <li>
            Cloud server: Implement an initial platform that will provide some 
            interoperability services, tools, and a place for experimentation.
        </li>
        <li>
            Guidelines: Voluntary guidelines for the development of services, 
            standards, and APIs.
        </li>
    </ul>
</div>
{% endblock %}