{% extends "base_two_columns.html" %}

{% block sidebar %}
    {% include "sidebar.html" %}
{% endblock %}

{% block content %}
    {% if miscellaenous %}
        <div class="miscellaneous">
            <!-- h2>EVERYTHING IS MISCELLANEOUS.</H2-->
        </div>
    {% endif %}
    <div class="clearfix" id="tile-container">
        {% for project in projects %}
            {% include "tile.html" %}
        {% endfor %}
    </div>
    
    <!div class="random span12">
        <a href="{% url 'projects:random' %}" class="btn btn-large" title="Click to go to a randomly-chosen project">I'm feeling lucky</a>
    </div>
{% endblock %}