{% extends "base_two_columns.html" %}

{% block content %}
<h2>Privacy Policy</h2>	

	
			
				<h4">Our Policy Privacy</h4>
            	<p>This site was created and is maintained by the  Harvard Library Innovation Laboratory at Harvard Law School for the Harvard Library Interoperability Initiative. The Lab is an academic institution engaged in experimental research related to the improvement of library services and technologies. Our online software projects may collect information of various kinds from visitors, but the Lab is committed to respecting and protecting personal privacy.</p>

				<p>We may collect limited, anonymous information from site visitors in order to measure site activity and improve the usefulness of our site. The usage information we collect may include IP address, browser type, operating system, screen size and resolution, date and time of visit, search engine and search terms, and IP address of referring page. We collect this information on an aggregate basis only. We do not link any of the above information to any personal identifiers. </p>

				<p>Some of our software services and sites make use of third party services that may collect IP addresses and set cookies. Those users who do not wish to expose any personal information should consider using anonymizing services where possible.</p>
			
				
				<h4>Disclosure to third parties</h4>

				<p>Available log records, and all stored data may be accessed by our system administrators. The system administrators may produce these records and data to the Administrative Dean, Dean of Students, or the Administrative Board, upon request or suspected violation of our terms of use. It is Harvard's policy to cooperate with law enforcement officials in the detection, investigation, and prosecution of unlawful activity. If we receive a warrant or subpoena for user information, we may disclose requested records to law enforcement authorities or outside parties seeking information through the legal process.</p>

				<p>In the event that we are required by law (including a court order) to disclose the information you submit, we will provide you with notice (unless we are prohibited) that a request for your information has been made so that you may object to the disclosure. We will send this notice by email to the address you have given us. We prefer to independently object to over-broad requests for access to information about users of our site, but we cannot assure you that we will be able to do this in all cases. If you do not challenge the disclosure request yourself, we may be legally required to turn over your information.</p>

				
					
				<h4>Links to independent sites</h4>

				<p> Because this site contains community-curated information about projects, we are not responsible for the  privacy practices, content or behavior of sites to which the community has linked. We also are not responsible for the privacy practices, content or behavior of external links created by the managers of this site.</p>
					<p>As noted in the second paragraph of this statement, this site may collect limited, anonymous information from site visitors in order to measure site activity and improve the usefulness of our site.</p>
				
				<p>As is true for many Web sites, this site uses a number of third party sites for services and content. When this site makes a request to those services, the Hypertext Transfer Protocol used by virtually all Web sites  automatically includes the IP address of the user's machine. </p>
			
        	<p>Users  should be aware that the following third party services may be automatically called when visiting pages at this site, resulting in the Hypertext Transfer Protocol communicating the user's IP address:</p>
        	<br>
        	
        	<p>(1)Google:</p>
        	<p class="indent">(a) When a user does not already have cached copy of jQuery (an open source library of Javascript functionality) on her or his machine, this site fetches a copy via the Google API.  This procedure slightly improves performance</p><br>
        		
        	<p class="indent">(b) Similar to (a), if the user does not already have cached copies of some fonts, this site may automatically download them via the Google API.</p><br>
        		
        	<p class="indent">(c) This site may use Google Analytics to provide information to the Library Innovation Lab about the number and patterns of people visiting the site. Google Analytics is in wide use around the Web. More information about what it tracks can be found <a href="http://www.google.com/analytics/">here</a>. If you would like to opt out of Google Analytics for all sites, please follow the instructions on <a href="http://tools.google.com/dlpage/gaoptout">this page.</a></p><br>
        		
        	
        	<p>In each of these cases, the information automatically communicated to the listed site consists of the standard information included in an HTTP request, including the user's IP address. If, however, the user explicitly clicks on a link to a third party service, additional information will very likely be transmitted; for example, clicking on a link to the Google book viewer will also transmit information that identifies the book to be viewed. Users who do not want to communicate any additional information to third party sites should not click on those links.</p>
        	
					      	
        	<h4>Children</h4>
			<p>The Lab site including Lab research project sites are intended for adults. We do not knowingly collect personal information from children under 13 years old. If you are a parent or legal guardian of a child under age 13 who you believe has submitted personal information to a Lab site, please contact us at the address below immediately.</p>
			<p>Because the content on this site is community-curated, we are not responsible for links to sites that are inappropriate for children.
					
								
			<h4>Questions?</h4>
			<p>If you have any questions about this privacy statement, the practices of this site, or your dealings with this site, you can contact:</p>
			
			<p>Harvard Library Innovation Laboratory<br>
			Harvard Law School Library<br>
			Langdell Hall, First Floor<br>
			Cambridge, MA 02138<br>
			lil@law.harvard.edu</p>
					<br>
								
			<h4>Changes to this privacy statement</h4>
			<p>This privacy statement is subject to change. Policy changes will be promptly posted on this page.</p>
					
								
			<h4>Effective date of this privacy statement</h4>
			<p>The effective date of this privacy statement is January 3, 2014.</p>


{% endblock %}